.underline_hover {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.underlined {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
    width: 100%;
    left: 0;
  }
}

.avatar_online_detector {
  bottom: 0;
  right: 10%;
  position: absolute;
  border-radius: 50%;
  width: 0.5rem;
  aspect-ratio: 1;
}
