.input[data-focus="true"] + .label,
.input[data-filled="true"] + .label {
  top: 0;
  transform: translateY(-110%);
  left: 0.25rem;
  font-size: 0.75rem;
}

.label {
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.focused {
  position: absolute;
  top: 0%;
  left: 0.25rem;
  font-size: 0.75rem;
  transform: translateY(-110%);
}
